body {
    font-family:  "DDG_ProximaNova_UI_2", "DDG_ProximaNova_UI_3", "DDG_ProximaNova_UI_4", "DDG_ProximaNova_UI_5",
    , "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
}
div.nav {
float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #aaaaaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
form {
    
    margin-top: 15px;
    vertical-align: baseline;
}
<!--buuraya  kadari sayfa 1 e ekle-->
div.duck{
    height:100vh;
    background-clip: rgb(219, 219, 240);
}

#arama {
    color:grey;
}
#search {
    color: #4fb6ad;
}
div#ducklogo {
    text-align:center;
    padding: 90px;
}

div#monster {
    background-color: rgb(116, 189, 164);
}
div.girl {
    text-align:center;
    padding:50px;
    color:white;
}
<!--burayi monsterave diger tum sayfalara ekle-->
.search2 {
    height: 45px;
    width: 300px;
    background: rgba(34, 34, 34, 0.5);   
    padding-left: 10px;
    padding-right: 10px; 
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
}

    
}
button:hover {
    color: rgb(255, 255, 255);
    background: rgba(19, 15, 15, 0.8); 
}
button:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
<!--buraya kadari monsterave diger tum sayfalara ekle-->
#monsg {
    padding-bottom: 0px;
}

div#ghost {
    background-color: orange;
}
div#hayalet {
    text-align: center;
    color:white;
    padding:50px;
}
#casper {
    padding-bottom: 0px;
    padding-left: 300px;
}

div#bath {
    background-color: rgb(102, 102, 216);
}

div#douch {
    text-align: center;
    color:white;
    padding:50px;
}
footer#climp {
    background-color: rgb(88, 188, 255);
}
div#tirmanici {
    text-align: center;
    color:rgb(64, 56, 94);
    padding:50px;
}

#climb {
    padding-bottom: 0px;
    padding-left: 300px;
}