footer#climp {
    background-color: rgb(88, 188, 255);
}
div#tirmanici {
    text-align: center;
    color:rgb(64, 56, 94);
    padding:50px;
}

#climb {
    padding-bottom: 0px;
    padding-left: 300px;
}